<%= form_with(model: business, local: true) do |form| %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :shortdesc %>
    <%= form.text_area :shortdesc %>
  </div>

  <div class="field">
    <%= form.label :longdesc %>
    <%= form.text_area :longdesc %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :founded %>
    <%= form.number_field :founded %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
