<section class="container">
    <div class="card mt-5" id="company-<%= @company.id %>">
      <div class="card-body" >
        <div class="row text-center">
          <div class="col">
            <h1 class=" border border-danger"> <%= @company.name %> </h1>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= @company.founded_date %>
          </div>
          <div class="col-sm-4">
            <%= @company.city %>, <%= @company.state %>
          </div>
          <div class="col-sm-4">
            <%= button_to "Edit", edit_company_path(@company), method: :get %>
            <%= button_to "Delete", company_path(@company),class: 'btn btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
          </div>

        </div>

        <div class="row">
          <%= @company.description %>

        </div>

      </div>


  </section>

</section>