<section class="container">
  <section id="company-<%= @company.id %>">
    <div class="row m-4">
      <div class="col text-center">
        <h1> <%= @company.name %> </h1>
      </div>
    </div>
    <div class="row m-4">
      <div class="col">
        <h4><%= @company.founded_date.strftime("%B %e, %Y") %></h4>
      </div>
      <div class="col">
        <h4><%= @company.city %>, <%= @company.state %></h4>
      </div>
      <div class="col">
        <div class="btn-group" role="group" aria-label="Basic example">
          <%= button_to "Edit", edit_company_path(@company), method: :get, class: "btn btn-primary m-3" %>
          <%= button_to "Delete", company_path(@company),class: 'btn btn-danger m-3', method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>

    </div>
    <div class="row m-4">
      <p class="text-muted">
        <%= @company.description %>
      </p>

    </div>
  </section>

</section>



<section class="container">

    <section class="container mt-5">
      <section class="row" id="cards_wrapper">
        <div class="col">
          <div class="card">
            <h1 class="card-header"> Founders </h1>
            <ul class="list-group list-group-flush">
              <% @company.founders.each do |founder| %>
              <li class="list-group-item"> <%= founder.name %>: <%= founder.title %> </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col">
          <%= link_to "Add Founder", new_company_founder_path(@company), class:"btn btn-primary"  %>
        </div>
      </section>
    </section>


  </section>

</section>